<div class='container d-flex justify-content-center'>
	<form class='col-sm-6' action='/admin/add-product' method='post' enctype='multipart/form-data'>
		<div class='mb-3'>
			<input type='text' name='name' placeholder='Name' class='form-control' id='exampleInputEmail1'
				aria-describedby='emailHelp' />
		</div>
		<div class='mb-3'>
			<input type='text' name='description' placeholder='Description' class='form-control'
				id='exampleInputexampleInputPassword1' />
		</div>
		<div class='mb-3'>
			<input type='text' name='price' placeholder='Price' class='form-control' id='exampleInputPassword1' />
		</div>
		
		<select name="categories" class='form-select w-100 p-2 m-2' aria-label='Category Selection'>
			<option selected>Category</option>
			{{#each categories}}
			<option name='category' value='{{this._id}}'>{{this.name}}</option>
			{{/each}}
		</select>
		<div class='mb-3'>
			<input type='file' name='image' class='form-control' id='exampleInput' class='form-control'
				id='exampleInputPasswordexampleInputPassword1' />
		</div>
		<button type='submit' class='btn btn-primary'>Submit</button>
	</form>
</div>