<link rel='stylesheet' href='/stylesheets/styles.css' />



  {{>admin_sidebar}}


<section id='interface' style="margin-top: -5rem;">
  
  <h3 class='i-name'>Dashboard</h3>
  <div class='values'>
    <div class='val-box'>
      <i class='fa fa-users'></i>
      <div>
        <h3>{{count}}</h3>
        <span>New users</span>
      </div>
    </div>
    <div class='val-box'>
      <i class='fa fa-shopping-cart'></i>
      <div>
        <h3>{{order}}</h3>
        <span>Total Orders</span>
      </div>
    </div>
    {{!-- <div class='val-box'>
      <i class='fa-solid fa-hashtag'></i>
      <div>
        <h3>{{amountOrder}}</h3>
        <span>Products Sell</span>
      </div>
    </div> --}}
    <div class='val-box'>
      <i class='fa fa-dollar-sign'></i>
      <div>
        <h3>{{total}}</h3>
        <span>This month</span>
      </div>
    </div>
  </div>
  <div>

  </div>
  
    <div class="graph w-100  justify-content-center" style="height: 80vh;">
      <h3 style="text-align: center; margin-top: 2rem;">Weekly Report</h3>
      <canvas id="week" class="m-auto" style="width:60rem;max-width:600px;height:25rem;"></canvas>
        <h3 style="text-align: center; margin-top: 2rem;">Daily report</h3>
      <canvas id="daily" class="m-auto" style="width:60rem;max-width:600px;height:25rem;"></canvas>
        <h3 style="text-align: center; margin-top: 2rem;">Category report</h3>
      <canvas id="category" class="m-auto" style="width:60rem;max-width:600px;height:25rem;"></canvas>
    </div>

</section>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script>
  $('#menu-btn').click(function () {
    $('#menu').toggleClass("active")
  })



  $(document).ready(function () {
    $.ajax({
      url: `/admin/stats/week`,
      method: "GET",
      success: function (response) {
        console.log(response);
        var xValues = response.date;
        var yValues = response.totalAmount;
        new Chart("week", {
          type: "pie",
          data: {
            labels: xValues,
            datasets: [{
              fill: false,
              lineTension: 0,
              label: 'Sales',
              backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 205)'
    ],
              //borderColor: 'rgb(255, 99, 132)',
              data: yValues
            }]
          },
          options: {
            legend: {
              display: false
            },
            scales: {
              yAxes: [{
                ticks: {
                  min: 6,
                  max: 16
                }
              }],
            }
          }
        });
      },
      error: function (err) {
        console.log(err);
      }
    })
  })
</script>
<script>
  $('#menu-btn').click(function () {
    $('#menu').toggleClass("active")
  })



  $(document).ready(function () {
    $.ajax({
      url: `/admin/stats/daily`,
      method: "GET",
      success: function (response) {
        console.log(response);
        var xValues = response.date;
        var yValues = response.totalAmount;
        new Chart("daily", {
          type: "line",
          data: {
            labels: xValues,
            datasets: [{
              fill: false,
              lineTension: 0,
              label: 'Sales',
              backgroundColor: 'rgb(255, 99, 132)',
              borderColor: 'rgb(255, 99, 132)',
              data: yValues
            }]
          },
          options: {
            legend: {
              display: false
            },
            scales: {
              yAxes: [{
                ticks: {
                  min: 6,
                  max: 16
                }
              }],
            }
          }
        });
      },
      error: function (err) {
        console.log(err);
      }
    })
  })

  $(document).ready(function () {
     var xValues = ['Fri Sep 02 2022',
    'Sun Sep 04 2022',
    'Mon Sep 05 2022',
    'Thu Sep 15 2022',
    'Fri Sep 16 2022',
    'Sat Sep 17 2022',
    'Tue Sep 20 2022',
    'Wed Sep 21 2022',
    'Sat Sep 24 2022',
    'Sat Sep 24 2022',
    'Tue Sep 27 2022',
    'Tue Sep 27 2022']
        var yValues = [ 3170, 35455, 15285,
    283, 17497,  1197,
    1890,  594, 1550,
    1148,  770,   7090]
        new Chart("category", {
          type: "line",
          data: {
            labels: xValues,
            datasets: [{
              fill: false,
              lineTension: 0,
              label: 'Sales',
              backgroundColor: 'rgb(255, 99, 132)',
              borderColor: 'rgb(255, 99, 132)',
              data: yValues
            }]
          },
          options: {
            legend: {
              display: false
            },
            scales: {
              yAxes: [{
                ticks: {
                  min: 6,
                  max: 16
                }
              }],
            }
          }
        });
  })
</script>