<section id='menu'>
    <div class='logo'>
      <img src='/images/home_logo-removebg-preview.png' alt='logo' />
      <h2>HOME</h2>
    </div>
    <div class='items'>
      <li><i class='fa-solid fa-chart-pie'></i><a href='/admin'>Dashboard</a></li>
      
      <li><i class='fa-solid fa-users'></i><a href='/admin/users'>Users</a></li>
      <li>
        <i class='fa-solid fa-cart-arrow-down'></i><a href='/admin/products'>Products</a>
      </li>
      <li>
        <i class='fa-solid fa-cart-arrow-down'></i><a href='/admin/categories'>Categories</a>
      </li>
      <li>
        <i class='fa-solid fa-cart-arrow-down'></i><a href='/admin/orders'>Orders</a>
      </li>
      <li>
        <i class='fa-solid fa-cart-arrow-down'></i><a href='/admin/coupon'>Coupons</a>
      </li>
      <li>
        <i class='fa-solid fa-cart-arrow-down'></i><a href='/admin/report'>Sales Report</a>
      </li>
    </div>
  </section>

  