 <style>
.shops{
  text-decoration: none;
  color: #fff;
}
.shops :hover{
  color: #FFF;
}
 </style>
<footer>
  <div class='footer-div'>
    <div class='first-footer' style="margin-left: -20rem;">
      <ul>
        <li>

          <img
            src='/images/homelogo.svg'
            alt=''
            class='img-fluid footer-image'
            style="margin-top: 1rem;"
          />

        </li>
    
      </ul>

      <div class='socials'>
        <i class='fa-brands fa-facebook-f'></i>
        <i class='fa-brands fa-google'></i>
        <i class='fa-brands fa-instagram'></i>
        <i class='fa-brands fa-twitter'></i>
      </div>
    </div>

    <div class='second-footer'>
      <ul class="shop">
       
        <li><a class="shops"  href="/shop"> Shop</a></li>
        
      </ul>
    </div>
  </div>
</footer>