 
<footer>
  <div class='footer-div'>
    <div class='first-footer'>
      <ul>
        <li>

          <img
            src='/images/homelogo.svg'
            alt=''
            class='img-fluid footer-image'
          />

        </li>
        <li>
          Address: 17 Princess Road, London, Greater London NW1 8JR, UK
        </li>
        <li>
          Phone: (800) 8001-8588, (0600) 874 548
        </li>
        <li>
          Email: info@gmail.com
        </li>
      </ul>

      <div class='socials'>
        <i class='fa-brands fa-facebook-f'></i>
        <i class='fa-brands fa-google'></i>
        <i class='fa-brands fa-instagram'></i>
        <i class='fa-brands fa-twitter'></i>
      </div>
    </div>

    <div class='second-footer'>
      <ul>
        <li class="company">Company</li>
        <li>About Us</li>
        <li>Shop</li>
        <li>Contact</li>
        <li>FAQs</li>
      </ul>
    </div>
  </div>
</footer>