<link rel='stylesheet' href='/stylesheets/header.css' />

<nav class='navbar navbar-expand-lg bg-light navigations' >
  <div class='container-fluid'>
    <img src='/images/home_logo-removebg-preview.png' class='logo' alt='logo' />

    <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav'
      aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse main-nav' id='navbarNav'>
      <ul class='navbar-nav nav-ul' style="margin-left: 14rem;">
        <li class='nav-item nav-list'>
          <a class='nav-link active home' aria-current='page' href='/'>Home</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link text-dark' href='/shop'>Shop</a>
        </li>
        
        <div class='icons'>
         
          <img src='/images/heart-svgrepo-com.svg' alt='search' class='nav-logo' />
         <a href="/dashboard"> <img src='/images/user-svgrepo-com.svg' alt='user' class='nav-logo' /></a>
          <a href="/cart"><img src='/images/cart-svgrepo-com.svg' alt='user' class='nav-logo' /></a>

        </div>
      </ul>
    </div>
  </div>


  {{#if user}}
  {{user.username}}
 <div class="dropdown " >
  <button class="btn  dropdown-toggle drop" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right:7rem !important;"> {{this.username}}
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style=" margin-left: -7rem;">
    <li><a class="dropdown-item" href="/orders">Orders</a></li>
    <li><a class="dropdown-item" href="/logout">Logout</a></li>
  </ul>
</div>
  {{else}}
  <button type='button ' class='btn buttonOrange' data-bs-toggle='modal' data-bs-target='#login'>
    Log In
  </button>
  {{/if}}
</nav>

<!-- Button trigger modal -->

<!-- Modal -->
<div class='modal fade' id='login' tabindex='-1' aria-labelledby='loginLabel' aria-hidden='true'>
  <div class='modal-dialog dg'>
    <div class='modal-content'>
      <div class='modal-body'>
        <div class='container d-flex justify-content-center'>
          <div class='col-sm-10'>
            <div class='container w-100' style='height: 25vh'>
              <button type='button' class='btn-close b-close' data-bs-dismiss='modal' aria-label='Close'></button>
              <img src='./images/homelogo.svg' width='90px' height='auto' class='m-3' alt='' />
              <h5 class='mx-3'>Welcome back</h5>
            </div>
            <form action='/login' method='post' class="LIF">
              {{#if loginErr}}
              <p>Invalid credintials</p>
              {{/if}}
              <div class='form-outline mb-4'>
                <p class='form-label' for='form2Example2'>Your Email</p>
                <input type='email' id='form2Example2' name='email' class='form-control rounded-pill' />
              </div>
              <div class='form-outline mb-4'>
                <p class='form-label' for='form2Example2'>Password</label>
                  <input name='password' type='password' id='form2Example2' class='form-control rounded-pill' />
              </div>

              <button type='submit' class='text-white py-2 mb-4 col-sm-12 rounded-pill create-button'>
                Log In
              </button>

              <span class='or mb-3'>OR</span>
              <br />
              <div class='container col-sm-12 mt-3 d-flex justify-content-center'>
                <a class='otp-btn btn m-3 mx-auto' href='/get-otp'>Login with
                  OTP</a>

              </div>

              <div class='container col-sm-12 d-flex justify-content-center'>
                <p>New Member
                  <a href='' data-bs-toggle='modal' data-bs-target='#register'>Register Now</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class='modal fade' id='register' tabindex='-1' aria-labelledby='registerLabel' aria-hidden='true'>
  <div class='modal-dialog dg'>
    <div class='modal-content'>
      <div class='modal-body'>
        <div class='container d-flex justify-content-center'>
          <div class='col-sm-10'>
            <div class='container w-100' style='height: 25vh'>
              <button type='button' class='btn-close b-close' data-bs-dismiss='modal' aria-label='Close'></button>
              <img src='./images/homelogo.svg' width='90px' height='auto' class='m-3' alt='' />
              <h5 class='mx-3'>Hello,Friend!!!</h5>
            </div>
            <form action='/signup' method='post' class="SUF">
              <!-- Email input -->
              <div class='form-outline mb-4'>
                <p class='form-label' for='form2Example1'>Username</p>
                <input name='username' type='text' id='form2Example1' class='form-control rounded-pill' />
              </div>

              <div class='form-outline mb-4'>
                <p class='form-label' for='form2Example2'>Your Email</p>
                <input name='email' type='email' id='form2Example2' class='form-control rounded-pill' />
              </div>
              <div class='form-outline mb-4'>
                <p class='form-label' for='form2Example2'>Phone number</p>
                <input name='phone' type='text' id='form2Example2' class='form-control rounded-pill' />
              </div>
              <div class='form-outline mb-4'>
                <p class='form-label' for='form2Example2'>Password</p>
                <input name='password' type='password' id='form2Example2' class='form-control rounded-pill' />
              </div>
              <div class='container'>
                <p>
                  By submitting this form you agree to our Terms and Conditions
                </p>
              </div>
              <button type='submit' class='text-white py-2 mb-4 col-sm-12 rounded-pill create-button'>
                Create Account
              </button>

              <div class='container col-sm-12 d-flex justify-content-center'>
                <p>Already a member? <a href='' data-bs-toggle='modal' data-bs-target='#login'>Sign In</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/validation.js"></script>
<script src="/javascripts/main.js"></script>




