
    <!--                               header                                   -->

<link rel="stylesheet" href="/stylesheets/user.css">

    <!--Main Navigation-->
    <!--Main Navigation-->
    <header>
        <!-- Sidebar -->

        <nav id="sidebarMenu" class=" d-lg-block sidebar  bg-white">
            <img src="/images/homelogo.svg" class="logo" alt="" >
            <div class="position-sticky">
                <div class="list-group list-group-flush mx-3 mt-4 lists">
                    <a href="/dashboard" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                        <span>dashboard</span>
                    </a>
                    <a href="/user-orders" class="list-group-item list-group-item-action py-2 ripple ">
                        <span>Orders</span>
                    </a>
                    <a href="/user-cart" class="list-group-item list-group-item-action py-2 ripple">
                        <span>Cart</span></a>
                    <a href="/edit-profile" class="list-group-item list-group-item-action py-2 ripple">
                        <span>Edit profile</span></a>

                    <a href="/logout" class="buttonClass">Log Out</a>

                    

                </div>
            </div>
        </nav>      
        <!-- Sidebar -->

        <!-- Navbar -->


        <!--Main layout-->
        <main style="margin-top: 58px">
            <div class="container pt-4">

            </div>
        </main>
        <!--Main layout-->
        <!--Main layout-->

</body>

</html>