<h1>Order placed</h1>



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  window.onload = function () {
    Swal.fire({
      showConfirmButton: false,
      icon: 'success',
      title: 'Order placed',
    });

    setTimeout(function () {
      window.location.href = "/"
    }, 1000);
  }
</script>