
 
{{!--  
 <div class="modal">
        <div id="success-icon">
          <div></div>
        </div>
        <svg id="close-modal" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 10 10">
          <line x1="1" y1="-1" x2="9" y2="11" stroke-width="2.5" />
          <line x1="9" y1="-1" x2="1" y2="11" stroke-width="2.5" />
        </svg>
        <h1><strong>Success!</strong></h1>
        <svg class="progress" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 4.5">
          <rect height="4.5" width="100" rx="2" ry="2" />
        </svg>
        <p class="points">Order placed</p>
        <hr>
        <p class="message"><a href="/">Back to Home page</a></p>
      </div> --}}


<div class="container-fluid d-flex justify-content-center bg-dark" style="height: 100vh;opacity: 0.3">
  <div class="col-sm-4 h-50 m-auto">
    <h3 class="text-center ">Home.com</h3>
    <hr>
    <div class="w-100 h-75 d-flex justify-content-center">
        <div class="m-auto d-flex justify-content-center flex-wrap">
          <h5 class="text-center w-100"> Yor order has been placed successfully</h5>
          <a href="/" class="btn btn-primary m-auto">OK</a>
        </div>
    </div>
  </div>
</div>