* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

.navigations {
  background: #fff !important;
}

.logo {
  width: 123px;
  height: 52px;
}

.home {
  font-weight: bolder;
  font-family: 'Sofia Pro';
}

.main-list {
  margin-left: 11rem;
  color: #1d1f1f;
  position: relative;
}

.nav-list {
  margin-left: 31rem;
}

.main-nav {
  margin-left: -10rem;
}

.nav-logo {
  width: 44px;
  height: 44px;
  padding: 0 0 1rem 1rem;
}

.nav-ul {
  position: relative;
}

.icons {
  display: flex;
  position: absolute;
  top: 3;
  left: 60rem;
  margin-right: 20rem;
}

.awsome {
  left: 5.57%;
  right: 5.57%;
  top: 3.86%;
  bottom: 94.61%;
  font-size: 8vw;
  opacity: 0.08;
  box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  padding: 0 4rem;
  font-family: futura;
}

.furniture {
  width: 61.813rem;
  height: 6rem;
  left: 29.125rem;
  top: 12.688rem;
  font-family: 'Futura';
  font-style: normal;
  font-weight: 700;
  font-size: 3vw;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #1d1f1f;
  margin-left: 29rem;
  margin-top: -4rem;
}

.chairimage {
  position: relative;
  text-align: center;
  background: url('/images/Rectangle_251_001.png') no-repeat center;
  background-position: 50% 100%;
  width: 100vw;
  height: 90vh;
}
.butn {
  border: none;
  position: absolute;
  top: 60%;
  right: 45%;
  background: #de5212;
  background-image: -webkit-linear-gradient(top, #de5212, #de5212);
  background-image: -moz-linear-gradient(top, #de5212, #de5212);
  background-image: -ms-linear-gradient(top, #de5212, #de5212);
  background-image: -o-linear-gradient(top, #de5212, #de5212);
  background-image: linear-gradient(to bottom, #de5212, #de5212);
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  font-family: 'Sofia Pro';
  color: #ffffff;
  font-size: 16px;
  background: #de5212;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #d60000;
  background-image: -webkit-linear-gradient(top, #d60000, #fa0505);
  background-image: -moz-linear-gradient(top, #d60000, #fa0505);
  background-image: -ms-linear-gradient(top, #d60000, #fa0505);
  background-image: -o-linear-gradient(top, #d60000, #fa0505);
  background-image: linear-gradient(to bottom, #d60000, #fa0505);
  text-decoration: none;
}

.icon-div {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}

.offers {
  width: 60rem;
  height: 33.625rem;
}

.offer-img {
  background: url('/images/furn.svg');
  max-width: 100%;
  max-height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0%;
  grid-row: span 2;
}

.offer-chair {
  background: url('/images/chairimage.svg');
  width: 28.125rem;
  height: 19.875rem;
}

.inspiration {
  width: 28.125rem;
  height: 5.625rem;
  background-color: #000;
  color: #fff;
  font-family: 'Sofia Pro';
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 4rem;
  margin-left: 16rem;
  width: 70rem;
  row-gap: 1rem;
  column-gap: 1rem;
}
.cards {
  border: 1px solid #f00;
  background: #da3f3138;
}
.rounded-circle {
  width: 3rem;
  height: 3rem;
  background: #cdd454;
  top: 1rem;
  left: 1rem;
}

.best {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #1d1f1f;
}

.exp-card {
  border: none;
}

.explore-text {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1d1f1f;
  text-align: center;
  margin-top: 9rem;
}

.holiday-sales {
  padding-left: 3rem;
  margin-top: 7rem;
  position: relative;
}

.buts {
  top: 75%;
  right: 46%;
  position: absolute;
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #0e332e;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.buts:hover {
  background: #030303;
  text-decoration: none;
}
.ad {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}
.ad1,
.ad2,
.ad3 {
  width: 28.125rem;
  height: 18.375rem;
}
.ad1 {
  background: #da3e31;
  border-radius: 4px;
}
.ad2 {
  background: #f4f4f5;
  border-radius: 4px;
}
.ad3 {
  background: #cdd454;
  opacity: 0.7;
  border-radius: 4px;
}

.image-div1,
.image-div2,
.image-div3 {
  position: absolute;
  border-radius: 4px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.image-div1 {
  left: 14rem;
}

.image-div2 {
  left: 48rem;
}

.image-div3 {
  left: 78rem;
}

.armchair {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  position: absolute;
  left: 4%;
  top: 25%;
}

.ceramic {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #1d1f1f;
  position: absolute;
  left: 36%;
  top: 25%;
}

.japanese {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 2.25vw;
  color: #1d1f1f;
  position: absolute;
  left: 68%;
  top: 25%;
}

.instagram {
  margin-top: 10rem;
  position: relative;
}

.insta-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-left: 2rem;
  margin-top: 5rem;
}

.follow {
  position: absolute;
  top: -5rem;
  left: 39rem;
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-decoration-line: underline;
  color: #1d1f1f;
}

.logos {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.logo-div {
  margin-left: 4rem;
}

.footer-div {
  width: auto;
  height: auto;
  background: #1d1f1f;
  color: #fbf8f5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Sofia Pro';
 
}
.footer-image {
  width: 8rem;
  height: 8rem;
}

.first-footer {
  margin-left: 8rem;
}

.socials {
  margin-left: 2rem;
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}
.first-footer li {
  list-style-type: none;
}
.company {
  font-weight: bold;
}

.second-footer li {
  list-style-type: none;
}
@media (max-width: 990px) {
  .nav-link {
    margin-left: 22.5rem;
  }
  .home {
    margin-left: -8.5rem;
  }
  .icons {
    display: none;
  }
  .awsome {
    font-size: 6vw;
  }
  .furniture {
    font-size: 2vw;
    margin-left: 9rem;
    margin-top: -3rem;
  }
  .icon-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image1,
  .image2,
  .image3,
  .image4,
  .image5,
  .image6 {
    width: 15rem;
    height: 15rem;
  }
  .butn {
    position: absolute;
    left: 35%;
    width: 30%;
  }
  .awsome {
    position: absolute;
    top: 20%;
    font-size: 6vw;
  }
  .furniture {
    position: absolute;
    top: 30%;
    left: 0;
  }
}
